.DS_Store

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# C extension
*.so

# Environments
.env/
.venv/
env/
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDE Files
.idea/

# VSCode
.vscode/

# Build files
out
dist
build

config.json